<!DOCTYPE html>
<html>
<head>
    <title>Voiture Page</title>
</head>

<body>
<h1>List Voitures</h1>

<form method="post">
    {{ form_widget(formV) }}
    <input type="submit" value="addVoiture"/>
</form>
</body>
</html>