<!DOCTYPE html>
<html>
<head>
    <title>Update Voiture</title>
</head>

<body>
<h1>Update Voitures</h1>

<form action="" method="post">
    {{ form_widget(editFormVoiture) }}
    <input type="submit" value="Update Voiture"/>
</form>
</body>
</html>